/* 
  Firefox 57-70 users: https://www.jeffersonscher.com/gm/url-bar-tweaks.html
  You can copy/paste into a userChrome.css file, see https://www.userchrome.org/
*/
/* " - Visit" or " - Search with" bar NOT HIDDEN */

/* Display drop-marker only when URL bar is hovered (Firefox default) */
/* Set max-height for items visible without scrolling */
  #PopupAutoCompleteRichResult .autocomplete-richlistbox,
  #urlbarView-results, #urlbar-results {
    height: unset !important;
    max-height: calc(45.5px * 10) !important;
  }
/* Set drop-down width */
  #PopupAutoCompleteRichResult,
  #urlbar-results {
    width: 700px !important;
    max-width: 700px !important;
    margin-left: 0 !important;
  }
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-title-text, 
  #PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-url-text,
  .urlbarView-row:not([type="search"]) .urlbarView-title, 
  .urlbarView-row:not([type="search"]) .urlbarView-action, 
  .urlbarView-row .urlbarView-url {
    min-width: 610px !important;
    max-width: 610px !important;
  }
  .urlbarView-row-inner {
    max-width: 685px !important;
  }
  /* Remove excess width of one-off search engine buttons */
  #urlbar-results .searchbar-engine-one-off-item.dummy:not(.last-of-row) {
    display: none !important;
  }
  /* Firefox 70 */
  .urlbarView:not(.megabar){
    left: unset !important;
    right: unset !important;
  }
  .urlbarView { /* Avoid search one-offs being too wide */
    --item-padding-start: 10px !important;
    --item-padding-end: 10px !important;
  }
/* Create sufficient height for two lines */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) {
    position: relative !important;
    height: 45.5px !important;
  }
  .urlbarView-row:not([type="search"]) {
    position: relative !important;
    height: 32px !important;
  }
/* Subtle border between results */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem,
  .urlbarView-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important; /* light theme */
  }
  /* Position page title, set font-size */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-title,
  .urlbarView-row:not([type="search"]) .urlbarView-title  {
    position: absolute !important;
    left: 54px;
    top: 1px;
    font-size: 14px !important;
  }
  /* Position page url / action, set font-size */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-url,
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-action,
  .urlbarView-row:not([type="search"]) .urlbarView-secondary,
  .urlbarView-row:not([type="search"]) .urlbarView-url,
  .urlbarView:not([actionoverride]) .urlbarView-row:not([type="search"]) .urlbarView-action:not(:empty) {
    position: absolute !important;
    left: 54px;
    top: 20px;
    font-size: 12px !important;
  }

/* Position bookmark tags */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-tags,
  .urlbarView-row .urlbarView-tags {
    position: absolute !important;
    right: 0px;
    top: 3px;
  }
/* Hide separator between title and URL */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-separator,
  .urlbarView-row:not([type="search"]) .urlbarView-title-separator {
    display: none !important;
  }
/* Position special icon (bookmark, switch-to-tab) */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-type-icon,
  .urlbarView-row .urlbarView-type-icon {
    margin-left: 4px !important;
 }
/* Prevent excess indenting of icons in Photon */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem [anonid="type-icon-spacer"],
  #urlbar-results .autocomplete-richlistitem [anonid="type-icon-spacer"] {
    display: none !important;
  }
  #PopupAutoCompleteRichResult,
  #urlbar-results {
     --item-padding-start: 0 !important;
     --item-padding-end: 0 !important;
  }

  .autocomplete-richlistitem[selected=true],
  .urlbarView-row[selected] {
    background-color: Highlight !important;
  }
  .autocomplete-richlistitem[selected=true] .ac-title, 
  .ac-title[selected],
  .autocomplete-richlistitem[selected=true] .ac-url, 
  .ac-url[selected],
  .autocomplete-richlistitem[selected=true] .ac-action,
  .ac-action[selected],
  .autocomplete-richlistitem[selected=true] .ac-separator,
  .ac-separator[selected],
  .urlbarView-row[selected] .urlbarView-title,
  .urlbarView-row[selected] .urlbarView-secondary,
  .urlbarView-row[selected] .urlbarView-title-separator {
    color: HighlightText !important;
  }
  #PopupAutoCompleteRichResult .ac-emphasize-text,
  .urlbarView-title strong,
  .urlbarView-url strong {
    font-weight: 400 !important;
    box-shadow: inset 0 0 1px 1px rgba(208,208,208,0.4);
    background-color: rgba(208,208,208,0.2);
    border-radius: 2px;
    text-shadow: 0 0 currentColor;
  }
  #PopupAutoCompleteRichResult .ac-url-text .ac-emphasize-text,
  .urlbarView-title strong,
  .urlbarView-url strong {
    box-shadow: inset 0 0 1px 1px rgba(183,210,226,0.4);
    background-color: rgba(183,210,226,0.3);
  }
/* Ability to scroll in Fx57 */
  #PopupAutoCompleteRichResult .autocomplete-richlistbox > scrollbox,
  #urlbarView-results, #urlbar-results {
    overflow-y: auto !important; 
    padding-right: 3px !important;
  }
  #PopupAutoCompleteRichResult .autocomplete-richlistbox {
    padding-right: 0 !important;
  }

