:root {
	--show-titlebar-buttons: none;
}

.titlebar-buttonbox-container {
  display: var(--show-titlebar-buttons);
}

.tabbrowser-tab * {
  display: none;
}

.tabbrowser-tab {
  display: none;
}

/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}

/* hides TST header */
#sidebar-header {
  visibility: collapse !important;
}

#titlebar {
  visibility: collapse;
}

/* url button font size */
#urlbar, #searchbar .searchbar-textbox{
  font-family: monospace !important;
  font-size: 10pt !important;
  margin-left: 2px
}

/* hide back, forward, reload and stop button */
#back-button, #forward-button, #reload-button, #stop-button {
  display: none !important;
}

#customizableui-special-spring1, #customizableui-special-spring2 {
  display: none;
}

